[submodule "cpp_ggml/third_party/ggml"]
	path = cpp_ggml/third_party/ggml
	url = https://github.com/ggml-org/ggml.git
[submodule "cpp_ggml/third_party/stb"]
	path = cpp_ggml/third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "cpp_ggml/third_party/ultralytics-ggml"]
	path = cpp_ggml/third_party/ultralytics-ggml
	url = git@github.com:Asher-1/ultralytics-ggml.git
